{{> menu active="admin-dashboard"}}

<section class="section has-text-centered">
    <h1 class="title">Error</h1>
    <h3>You do not have access to this page. Please return to the dashboard. </h3>
</section>