<div class="card-image">
    <figure class="image is-256x256">
      <img src={{category.img}}>
    </figure>
        <a href="/category/{{./category._id}}/deleteimage" class="button is-danger is-fullwidth">
        <span> Delete Image</span>
    </a> 
</div>